In [3]:
import os
import pandas as pd

In [ ]:
dir_path = "Player_Time_Data_Large/"



for i, file in enumerate(os.listdir("Player_Time_Data_Large/"))
    
    with open("Player_Time_Data_Large/" + file) as f:

In [20]:




length_df = 0 

for i, file in enumerate(os.listdir("Player_Time_Data_Large/")):

    df = pd.read_csv("Player_Time_Data_Large/" + file ,
                          dtype='str,str,float,float,bool', 
                          delimiter = " ",
                          usecols=(0,1,2,3,4),
                          header = None
                        )
    
    df.columns = ["puuid", "match_id", "start_time", "duration", "win"]

    df.drop_duplicates(inplace = True)
    
    length_df+= len(df["puuid"])
    
    if i == 0:
        df_new = df
    
    else:
        df_new = pd.concat([df_new, df])

print (len(df_new["puuid"]), length_df)

54862 54862

In [30]:
dfs[0].values

array([['-2T7rRAra_LmbFJ1LPNVOReHWn_NkQ90iZXU7enjPI-idHn2e9FYU2YGTYEjFSUBgHRBqeuxgaUPig',
        'NA1_3950829830', 1624244713584.0, 1118604.0, True],
       ['-2T7rRAra_LmbFJ1LPNVOReHWn_NkQ90iZXU7enjPI-idHn2e9FYU2YGTYEjFSUBgHRBqeuxgaUPig',
        'NA1_3950784669', 1624243152370.0, 1220863.0, True],
       ['-2T7rRAra_LmbFJ1LPNVOReHWn_NkQ90iZXU7enjPI-idHn2e9FYU2YGTYEjFSUBgHRBqeuxgaUPig',
        'NA1_3950729686', 1624241391567.0, 1446051.0, True],
       ...,
       ['-2T7rRAra_LmbFJ1LPNVOReHWn_NkQ90iZXU7enjPI-idHn2e9FYU2YGTYEjFSUBgHRBqeuxgaUPig',
        'NA1_4317808775', 1653362304943.0, 684.0, True],
       ['-2T7rRAra_LmbFJ1LPNVOReHWn_NkQ90iZXU7enjPI-idHn2e9FYU2YGTYEjFSUBgHRBqeuxgaUPig',
        'NA1_4317813882', 1653361033916.0, 998.0, False],
       ['-2T7rRAra_LmbFJ1LPNVOReHWn_NkQ90iZXU7enjPI-idHn2e9FYU2YGTYEjFSUBgHRBqeuxgaUPig',
        'NA1_4317788649', 1653359606643.0, 1083.0, True]], dtype=object)

In [32]:
import numpy as np

#need to save to text files

gb = df_new.groupby('puuid')    
dfs = [gb.get_group(x) for x in gb.groups]


for i, df in enumerate(dfs):
    
    if i ==0:
        np.savetxt(r'Player_Time_Data_Large_2/player_{}_times.txt', df.values, 
                   #fmt='%d'
                  )

TypeError: Mismatch between array dtype ('object') and format specifier ('%.18e %.18e %.18e %.18e %.18e')

In [21]:
df_new.head()

,puuid,match_id,start_time,duration,win
0,olRQfmIAXUPLPlpaznliRFUqFBVMSVvo5k8qS0n-E81R2U...,NA1_4249123260,1.647581e+12,2103.0,False
0,57pS6ftCjxiaIpcWRDqmvyMUD0d4-Dg4MDjv6bgNmuvfQQ...,NA1_4096314151,1.636505e+12,1312.0,True
0,hvxc4S0axLrMz3VhYP7sY3keopSuTcO6uS_NaTsQIV2BDd...,NA1_4276106727,1.650003e+12,888.0,True
1,-sTYvckS77_QMfc-FY964JjxOUf4REVg96ghKRSdWRvKnB...,NA1_4221787684,1.645328e+12,466.0,False
2,-sTYvckS77_QMfc-FY964JjxOUf4REVg96ghKRSdWRvKnB...,NA1_4221677255,1.645326e+12,147.0,False